/* ------------------------------ global styles ----------------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

body {
    height: 3000px;
}

svg {
    color: 222222;
}


.nunito-regular {
  font-family: "Nunito", sans-serif;
  /* font-optical-sizing: auto; */
  font-weight: 400;
  font-style: normal;
}

.nunito-bold {
  font-family: "Nunito", sans-serif;
  /* font-optical-sizing: auto; */
  font-weight: 700; 
  font-style: normal;
}
/* -------------------------------------------------------------------------- */
/*                               Nav Bar styles                               */
/* -------------------------------------------------------------------------- */

nav {
    display: flex;
    /* position: sticky; */
    /* top: 11px; */
    justify-content: space-between;
    align-items: center;
    height: 48px;
    padding:0 35px 0 20px;
    /* margin-top: 11px; */
    /* background: #13219e; */
}

.nav-div{
    padding: 11px 0;
    position: sticky;
    top: 0;
    background: #fff;
}

/* ------------------------------ Left Nav Bar ------------------------------ */

.left-nav {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 50%;
}

.search-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid #e2e2e2 1px;
    border-radius: 88px;
    height: 40px;
    /* overflow: hidden; */
    flex-grow: 1;
    margin: 4px 0;
}
.search-input > input {
    border : none;
    outline: none;
    background: transparent;
    height: 100%;
    width: 100%;
    padding-left: 24px;
    padding-right: 12px;
}

.search-icon {      
    display: flex;
    background: #F0EBEB;
    width: 64px;
    height: 100%;
    justify-content: center;
    align-items: center;
    outline: 1px #d6d2d2 solid;
    border-radius:0 88px 88px 0;
    color: #505050;
}

[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
  height: 10px;
  width: 10px;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pg0KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDE2LjAuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPg0KPCFET0NUWVBFIHN2ZyBQVUJMSUMgIi0vL1czQy8vRFREIFNWRyAxLjEvL0VOIiAiaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkIj4NCjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iQ2FwYV8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCINCgkgd2lkdGg9IjEyMy4wNXB4IiBoZWlnaHQ9IjEyMy4wNXB4IiB2aWV3Qm94PSIwIDAgMTIzLjA1IDEyMy4wNSIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgMTIzLjA1IDEyMy4wNTsiDQoJIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPGc+DQoJPHBhdGggZD0iTTEyMS4zMjUsMTAuOTI1bC04LjUtOC4zOTljLTIuMy0yLjMtNi4xLTIuMy04LjUsMGwtNDIuNCw0Mi4zOTlMMTguNzI2LDEuNzI2Yy0yLjMwMS0yLjMwMS02LjEwMS0yLjMwMS04LjUsMGwtOC41LDguNQ0KCQljLTIuMzAxLDIuMy0yLjMwMSw2LjEsMCw4LjVsNDMuMSw0My4xbC00Mi4zLDQyLjVjLTIuMywyLjMtMi4zLDYuMSwwLDguNWw4LjUsOC41YzIuMywyLjMsNi4xLDIuMyw4LjUsMGw0Mi4zOTktNDIuNGw0Mi40LDQyLjQNCgkJYzIuMywyLjMsNi4xLDIuMyw4LjUsMGw4LjUtOC41YzIuMy0yLjMsMi4zLTYuMSwwLTguNWwtNDIuNS00Mi40bDQyLjQtNDIuMzk5QzEyMy42MjUsMTcuMTI1LDEyMy42MjUsMTMuMzI1LDEyMS4zMjUsMTAuOTI1eiIvPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPC9zdmc+DQo=);
  background-size: 10px 10px;
  cursor: pointer;
}

/* ------------------------------ Right Nav Bar ----------------------------- */
.right-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 22px;
}


/* -------------------------------------------------------------------------- */
/*                                  Main Body                                 */
/* -------------------------------------------------------------------------- */

.main-body {
    margin-left: 20px;
    height: 100%;
}

/* ------------------------------- Catagories ------------------------------- */
.catagories {
    display: flex;
    gap: 12px;
    position: sticky;
    top: 70px;
    background: #fff;
    padding-bottom: 20px;
}

.catagory-widget {
    padding: 6px 10px;
    background: #ECECEC;
    color: #333333;
    border-radius: 6px;
    font-size: 14px;
    height: 31px;
    text-wrap: nowrap;
}
.all {
    background: #333;
    color: #fff;
}

/* --------------------------------- Videos --------------------------------- */

.vid-cont {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    flex-wrap: wrap;
}
.vid-card {
    border-radius: 12px;
    /* background: #6786b4; */
    display: flex;
    flex-direction: column;
    width: 100%;
}

.card-bottom {
    display: flex;
    align-items: start;
    padding: 12px;
    gap: 12px;
}

.vid-name {
    font-size: 16px;
    color: #333333;
}
.creator {
    display: flex;
    align-items: center;
    gap: 4px;
}
.creator > p {
    color: #FF791A;
    font-size: 12px;
}

.card-info {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.card-info > p {
    color: rgba(51, 51, 51, 0.44);
    font-size: 13px;
}

.vid-card > img {
    width: 100%;
    aspect-ratio: 16/9;
    /* height: 50%; */
    object-fit: cover;
    border-radius: 12px;
}